.buttonCategory{
    border:none;
    padding: 8px 15px;
    border-radius: 2px;
    color:white;
    background: black;
    font-size: 10px;
}

.categories{
    text-decoration: none;
    color:black
}

.categories:hover{
    color:rgb(1, 73, 167);

}

.navbarCategories{
    color:white;
    text-decoration: none;
}

.navbarCategories:hover{
    color:rgb(1, 73, 167);
}